:root {
  --purple: hsl(257, 36%, 49%);
  --lightred: hsl(0, 100%, 74%);
  --white: hsl(0, 0%, 100%);
  --green: hsl(154, 59%, 51%);
  --bluishgray: hsl(246, 25%, 77%);
}


body {
  background-color: var(--lightred);
  background-repeat: no-repeat;
  margin: 0px;
}

.container {
    width: 60vw;
    margin: 10px auto;
    display: grid;
    grid-template-columns: 1fr 2fr; 
    grid-auto-rows: 75px auto;
    grid-template-areas:
      "____ sec1"                 
      "sec2 sec3";
    grid-column-gap: 280px; 
    align-content: center;
    justify-content: center; 
}

.sec-1 {
  grid-area: sec1;
}

.button1 {
  border-radius: 10px;
  background-color:var(--purple);
  border: none;
  padding: 15px;
  color: var(--white);
  font-size: 15px;
  width: 100%;
}

.sec-2 {
  grid-area: sec2;
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  padding: 15px;
  color: var(--white);
  font-weight: 300;
  width: 180%;
}

.learn {
  font-size: 45px;
  font-weight: 700;
}

.sec-3 {
  grid-area: sec3;
  font-family: 'Poppins', sans-serif;
  background-color: var(--white);
  border-radius: 10px;
  padding: 30px 30px; 
}

input {
  width: 100%;
  border-radius: 5px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid lightgray;

}

.button2 {
  border-radius: 5px;
  background-color: var(--green);
  border: none;
  padding: 14px 40px;
  color: var(--white);
  font-size: 12px;
  width: 100%;
}

.footer {
  color: var(--bluishgray);
  font-size: 10px;
  font-weight: 300;
}

@media (max-width: 760px) {
  body {
      background-image: url('./Images/bg-intro-mobile.png');
      background-repeat: no-repeat;
      background-position: top;
      background-size: auto;
  }

  .container {
      /* padding: 20px;
      align-content: center; */
      display: flex;
      flex-direction: column;
      align-items: center;
      align-content: center;
      height: 100vh;
      width: 70vw;
  }

  .sec-1 {
      order: 2;
  }

  .learn{
      font-size: 25px;
  }

  .sec-2 {
      width: 100%;
      align-items: center;
      text-align: center;
      order: 1;
  }

  .sec-3 {
      order: 3;
      margin-top: 25px;
  }

  .see {
      font-size: 15px;
  }

  .button1 {
      margin-top: 60px;
      padding: 20px;
      width: 100%;
  }
}

