:root {
  --purple: hsl(257, 36%, 49%);
  --lightred: hsl(0, 100%, 74%);
  --white: hsl(0, 0%, 100%);
  --green: hsl(154, 59%, 51%);
  --bluishgray: hsl(246, 25%, 77%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} 

body {
  background-image: url('./Images/bg-intro-mobile.png');
  background-color: var(--lightred);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Poppins', sans-serif;
  color: var(--white);
}

.container {
  padding: 20px;
}

.sec-2 {
  margin: 10px auto;
}

.sec-3 {
  background-color: var(--white);
  border-radius: 10px;
  padding: 20px;
  margin: 10px auto;

}

.button1 {
  border-radius: 10px;
  background-color:var(--purple);
  padding: 15px;
  font-size: 15px;
  width: 100%;
}
.button1 > a {
    text-decoration: none;
  text-align: center;
  color: white;
}

input {
  width: 100%;
  border-radius: 5px;
  padding: 12px;
  margin: 10px auto;
  box-sizing: border-box;
  border: 2px solid lightgray;
}

.button2 {
  border-radius: 5px;
  background-color: var(--green);
  border: none;
  padding: 14px 40px;
  font-size: 12px;
  width: 100%;
  margin-bottom: 10px;

}

.terms {
  font-size: 12px;
  color: black;
}

.terms > a {
  text-decoration: none;
  color: var(--bluishgray);
}

/** For Tablet View */
@media only screen and (min-width: 600px) {
  body {
    background-image: url('./Images/bg-intro-desktop.png');
  }
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 60px;
  }
}

/** For Desktop View */
@media only screen and (min-width: 768px) {
  .container {
    padding: 100px;
  }
  .sec-2, .sec-3 {
    margin: 20px;
  }
}